<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="tinybot">
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="ros_namespace" default="tinybot"/>
  <xacro:arg name="limited" default="false"/>
  <xacro:arg name="effort_control" default="false"/>
  <xacro:arg name="velocity_control" default="false"/>

  <!-- load tinybot robot -->
  <xacro:include filename="$(find tinybot_description)/urdf/tinybot_macro.xacro" />
  <xacro:tinybot_robot prefix="$(arg prefix)" namespace="$(arg ros_namespace)" limited="$(arg limited)" 
    effort_control="$(arg effort_control)" velocity_control="$(arg velocity_control)" />

</robot>